<!-- HEADER -->
<div class="container">
    <div class="jumbotron">
      <h1>{{jumbotronHeading}}</h1>      
      <p>This will soon be a self destructing task list using firebase and angular </p>      
    </div>
 </div>


 <!-- LOAD FIREBASE via INPUT -->
 <div class="container" ng-controller="TaskLoader">
      <form novalidate class="simple-form">

      
      <!-- MY attempt at using ng-select   -->
      Task: <input type="text" ng-model="task.task" /><br />
      Priority:
        <select ng-options="value.label as value.label for value in priorityChoices" ng-model="task.priority">
            <option value="">Unknown</option>
            <option value="0">High</option>
            <option value="1">Medium</option>
            <option value="2">Low</option>
        </select> <br /><br />

        <input type="button" ng-click="reset()" value="Reset Fields" /> <br />
        <input type="submit" ng-click="update(task)" value="Update Task List" />  


      <!-- RYAN SAMPLE CODE        
          <select ng-options="priorityChoices" ng-model="task.priority">
          <option value="">Unknown</option>
        </select> -->


      <!-- WORKING CODE    
          Task: <input type="text" ng-model="task.task" /><br />
          Priority: <br /><input type="radio" ng-model="task.priority" value="Low" />Low <br />
          <input type="radio" ng-model="task.priority" value="Medium" />Medium<br />
          <input type="radio" ng-model="task.priority" value="High" />High<br />
          <input type="button" ng-click="reset()" value="Reset Fields" />
          <input type="submit" ng-click="update(task)" value="Update Task List" />  -->
      </form>
 </div>

<!-- PRINT TO DOM -->
 <div class="container" ng-controller="TaskLister">
      <ul>
        <li ng-repeat="chore in chores"> {{chore.task}} | {{chore.priority}} | {{chore.created}} | Your new task must be completed by: {{chore.killtime}}</li> 
      </ul>
 </div>